__pycache__
Bases
credencial.json
Demanda
/Demandas_Total.xlsx
1 - MATRIZ
PFEP
PFEP 2024 DHL FIASA OP_W37-REV 6.xlsm
Planilhas_Recebidos
Planilhas_Recebidos2
dist
build
Entrega RPA Milk Run
RPA Milk Run.spec
RPA Milk Run.exe